@import 'button.scss';
@import 'variables.scss';

.about-us {

}

.about-us__text-wrapper {
  padding: 33px 20px 0 20px;

  @media(min-width: $tablet-width) {
    width: 70%;
    margin: 0 auto;

    max-width: 450px;

    //padding: 58px 155px;
  }
}

.about-us__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;
}

.about-us__text-title {
  margin-bottom: 34px;

  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.about-us__find {
  margin-top: 25px;
}

.about-us__map {
  width: 100%;

  margin-top: 50px;

  @media(min-width: $tablet-width) {
    margin-top: 55px;
  }

  @media(min-width: $desktop-width) {
    margin-top: 80px;
  }
}
