@import 'variables.scss';

.advertising-list {
  /*padding: 0;*/
  list-style-type: none;

  @media(min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media(min-width: $tablet-width) {
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;*/
  }

  @media(min-width: $tablet-width) {

  }
}

.advertising-list__item-block {
  margin-top: 20px;
  margin-bottom: 20px;

  @media(min-width: $tablet-width) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.advertising-list__term {
  display: flex;
  align-items:center;

  margin-bottom: 20px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  &:before {
    content: '';
    display: inline-block;

    background-size: cover;

    margin-right: 20px;
  }

  @media(min-width: $tablet-width) {
    flex-direction: column;

    &:before {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.advertising-list__term--house {
  &:before {
    width:39px;
    height:37px;
    background-image: url('../img/icon-house.svg');

    @media(min-width: $tablet-width) {
      width:75px;
      height:72px;
    }
  }
}
.advertising-list__term--souvenirs {
  &:before {
    width:32px;
    height:38px;
    background-image: url('../img/icon-gift.svg');

    @media(min-width: $tablet-width) {
      width:64px;
      height:75px;
      background-image: url('../img/icon-gift-tablet.svg');
    }
  }
}
.advertising-list__term--food {
  &:before {
    width:40px;
    height:35px;
    background-image: url('../img/icon-burger.svg');

    @media(min-width: $tablet-width) {
      width:76px;
      height:68px;
      background-image: url('../img/icon-burger-tablet.svg');
    }
  }
}

.advertising-list__descript {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.advertising-list__item {
  @media(min-width: $tablet-width) {
    max-width: 33.33%;

    &:nth-child(3) {
      margin-left: 20px;
      margin-right: 20px;
    }

    &:nth-child(2) {    /* Design solution */
      order: 1;
    }
  }
}



