
.social-list {
  list-style-type: none;
  padding: 0;

  /*width: 40%;*/

  display: flex;
  justify-content: space-between;
}

.social-list__item {
  margin-right: 5px;
}

.social-list__btn_icon {
  width:46px;
  height: 48px;
  position: relative;

  background: linear-gradient(to bottom, #9ECCE8, #76B3DA);

  &:hover {
    background: #669EC0;
  }

  &:active {
    background: #5496BD;

    & .icon {
      opacity: 0.3;
    }
  }
}


.social-list__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
}

.icon {

}
